<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2014 Giorgio Consorti <giorgio.consorti@gmail.com>
 
 This file is part of DrinViewer.
 
 DrinViewer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 DrinViewer is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with DrinViewer.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drinviewer.droiddrinviewer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <!--
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    -->
    <application
        android:name="com.drinviewer.droiddrinviewer.DrinViewerApplication"
        android:allowBackup="true"
        android:icon="@drawable/drinviewer"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.drinviewer.droiddrinviewer.DrinViewerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.acra.CrashReportDialog"
        	android:theme="@android:style/Theme.Dialog"
        	android:launchMode="singleInstance"
        	android:excludeFromRecents="true"
        	android:finishOnTaskLaunch="true" />
        
        <receiver android:name="com.drinviewer.droiddrinviewer.DrinViewerBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        		<action android:name="android.net.wifi.STATE_CHANGE"/>
        		
        		<!--
        		<action android:name="@string/broadcast_startalarmrepeater"/> 
        		<action android:name="@string/broadcast_startdiscovery"/>
        		<action android:name="@string/broadcast_cleanhostcollection"/>
        		<action android:name="@string/broadcast_startalarmrepeater"/>
        		<action android:name="@string/broadcast_stopalarmrepeater"/>
        		-->
            </intent-filter>
		</receiver>
		
		<receiver android:name="com.drinviewer.droiddrinviewer.DrinIncomingCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="com.drinviewer.droiddrinviewer.DiscoverServerService"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/discover_server_servicename" 
            android:process=":drinviewerdiscovery" >
            <intent-filter>
                <action android:name="com.drinviewer.droiddrinviewer.DiscoverServerService" />
                <action android:name="@string/broadcast_startdiscovery"/>
                <action android:name="@string/broadcast_cleanhostcollection"/>
            </intent-filter>
        </service>
	
    </application>
</manifest>
